<!--ABOUT-->
<section id="ts-intro" class="ts-intro no-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="gap-60"></div>
                <h2 class="intro-title">About the Event</h2>
                <h3 class="intro-sub-title">For those who <i class="fa fa-heart"></i> mobile development</h3>
                <p class="intro-desc">Mobilization is a conference dedicated to mobile technologies.
                    The main scope is development of mobile solutions aimed at smartphones and tablets,
                    with particular interest in <strong>Android</strong>, <strong>iOS</strong> and
                    <strong>HTML5</strong>.</p>
                <ul class="list-inline">
                    <li><h5>Previous editions</h5></li>
                    <li><a href="http://2017.mobilization.pl" target="_blank">2017</a></li>
                    <li><a href="http://2016.mobilization.pl" target="_blank">2016</a></li>
                    <li><a href="http://2015.mobilization.pl" target="_blank">2015</a></li>
                    <li>2014</li>
                    <li><a href="http://2013.mobilization.pl" target="_blank">2013</a></li>
                    <li>2012</li>
                    <li><a href="http://2011.mobilization.pl" target="_blank">2011</a></li>
                </ul>
            </div>
            <!-- Col end -->
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="intro-video">
                    <img class="img-responsive" src="assets/mobilization/images/mobilization-play-2.jpg" alt=""/>
                    <a class="popup" href="https://www.youtube.com/embed/bdf3nVyNLKk?autoplay=1&amp;loop=1">
                        <div class="video-icon">
                            <i class="fa fa-play"></i>
                        </div>
                    </a>
                </div>
                <!-- Intro video end -->
            </div>
            <!-- Col end -->
        </div>
        <!-- Content row 1 end -->
        <div class="gap-30"></div>
        <div class="row facts-wrapper">
            <div class="col-sm-3 col-xs-6">
                <div class="ts-facts">
<span class="ts-facts-img">
<img src="assets/mobilization/images/icons/fact-workshop.png" alt=""/>
</span>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp">1</span></h2>
                        <h3 class="ts-facts-title">Workshop</h3>
                    </div>
                </div>
                <!--Facts end -->
            </div>
            <!-- Col 1 end -->
            <div class="col-sm-3 col-xs-6">
                <div class="ts-facts">
<span class="ts-facts-img">
<img src="assets/mobilization/images/icons/fact-speaker.png" alt=""/>
</span>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp">40</span></h2>
                        <h3 class="ts-facts-title">Speakers</h3>
                    </div>
                </div>
                <!--Facts end -->
            </div>
            <!-- Col 2 end -->
            <div class="col-sm-3 col-xs-6">
                <div class="ts-facts">
<span class="ts-facts-img">
<img src="assets/mobilization/images/icons/fact-sponsor.png" alt=""/>
</span>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num">> <span class="counterUp">13</span>+</h2>
                        <h3 class="ts-facts-title">Sponsors</h3>
                    </div>
                </div>
                <!--Facts end -->
            </div>
            <!-- Col 3 end -->
            <div class="col-sm-3 col-xs-6">
                <div class="ts-facts last">
<span class="ts-facts-img">
<img src="assets/mobilization/images/icons/reinvent.png" alt=""/>
</span>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num">> <span class="counterUp">500</span>+</h2>
                        <h3 class="ts-facts-title">Mobile<br/>Enthusiasts</h3>
                    </div>
                </div>
                <!--Facts end -->
            </div>
            <!-- Col 4 end -->
        </div>
        <!-- Content Row 2 end -->
    </div>
    <!-- Container end -->
</section>
<!-- Intro area end -->
<!--/ABOUT-->

