<!--VENUE-->
<section id="ts-venue" class="ts-venue">
    <div class="container">
        <div class="row text-center">
            <h2 class="section-title">Where to find us</h2>
            <h3 class="section-sub-title">Venue and Info</h3>
        </div>
        <!--/ Title row end -->
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h3>Venue Details</h3>
                <p>
                    Same as previous years, Mobilization 8 is happening at the Lodz International Fairs,
                    the&nbsp;largest organiser of trade shows, exhibitions, domestic and international conferences
                    operating in central Poland.
                </p>
                <div class="contact-info">
                    <div class="contact-info-box">
                        <i class="fa fa-map-marker"></i>
                        <div class="contact-info-box-content">
                            <h4>Address: </h4>
                            <p>EXPO-Łódź<br/>al. Politechniki 4, 93-590 Łódź, Poland
                            </p>
                        </div>
                    </div>
                    <div class="contact-info-box">
                        <i class="fa fa-envelope"></i>
                        <div class="contact-info-box-content">
                            <h4>E-mail: </h4>
                            <p>contact@mobilization.pl</p>
                        </div>
                    </div>
                    <div class="contact-info-box">
                        <i class="fa fa-phone"></i>
                        <div class="contact-info-box-content">
                            <h4>Phone: </h4>
                            <p>
                                <small>Marek Defeciński</small>
                                <br/>+48 517 725 068
                            </p>
                        </div>
                    </div>
                </div>
                <!-- contact info end -->
            </div>
            <!-- Col end -->
            <div class="col-md-6 col-xs-12">
                <img src="assets/mobilization/images/venue.jpg" alt="venue">
                <div class="attribution">By CKW2013 [<a href="https://creativecommons.org/licenses/by-sa/3.0">CC
                    BY-SA 3.0</a>], <a href="https://commons.wikimedia.org/wiki/File:CKW_MT%C5%81.jpg">from
                    Wikimedia Commons</a></div>
            </div>
            <!-- Col end -->
        </div>
    </div>
    <!-- Container end -->
</section>
<!-- Venue end -->

<div class="venu-map no-padding">
    <div class="container-fluid">
        <div class="row">
            <div id="map" class="map-bottom"></div>
            <!-- Col end -->
        </div>
        <!-- Content row end -->
    </div>
    <!-- Container end -->
</div>
<!-- Map end -->
<!-- /VENUE -->
